[defaults]
# Docker container config - force all temp operations to /tmp
# The ~/.ansible/tmp default fails in containers without /root write access
remote_tmp = /tmp/ansible-remote-tmp
local_tmp = /tmp/ansible-local-tmp
# Set environment variable to override home directory temp location
system_tmpdirs = /tmp
remote_user = root
ansible_managed: ""
