# {{ ansible_managed }}
# systemd-timesyncd configuration

[Time]
{% if infrastructure.domain.ntp.servers | length > 0 %}
NTP={{ infrastructure.domain.ntp.servers | join(' ') }}
{% endif %}
#FallbackNTP=0.arch.pool.ntp.org 1.arch.pool.ntp.org 2.arch.pool.ntp.org 3.arch.pool.ntp.org
#RootDistanceMaxSec=5
#PollIntervalMinSec=32
#PollIntervalMaxSec=2048
