http {

    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

    ssl_certificate /etc/letsencrypt/live/{{ gitlab_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ gitlab_domain }}/privkey.pem;

    server {
	listen 80;
        server_name  {{ gitlab_domain }} www.{{ gitlab.domain }} home.{{ gitlab_domain }};
        return 301 https://$host$request_uri;

    server {
	listen 443 ssl;
        server_name  {{ gitlab_hostname }}.{{ gitlab_domain }};

        location / {
            proxy_pass http://localhost:{{ gitlab_web_listen_port }}/;
            proxy_set_header Host $host;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
